@import "../node_modules/antd/dist/antd.css";

.App {
  text-align: center;
}
.ant-divider-vertical {
  height: 30px;
}
.font {
  font-size: small;
  text-align: center;
}
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
